dns.home.arpa {
    tls internal
    reverse_proxy technitium:5380
}

speedtest.home.arpa {
    tls internal
    reverse_proxy openspeedtest:3000
}

homepage.home.arpa {
    tls internal
    reverse_proxy homepage:3000
}

glances.home.arpa {
    tls internal
    reverse_proxy glances:61208
}

status.home.arpa {
    tls internal
    reverse_proxy uptime-kuma:3001
}

http://jellyfin-tv.home.arpa {
    reverse_proxy jellyfin:8096
}

jellyfin.home.arpa {
    tls internal
    reverse_proxy jellyfin:8096
}
