http://dns.home.arpa {
    reverse_proxy technitium:5380
}

http://speedtest.home.arpa {
    reverse_proxy openspeedtest:3000
}

http://homepage.home.arpa {
    reverse_proxy homepage:3000
}

http://glances.home.arpa {
    reverse_proxy glances:61208
}
